# Entorno virtual
.venv/
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/

# Base de datos local si usas SQLite
*.db
*.sqlite
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code opcional
.vscode/